#sky {
    background: none repeat scroll 0 0 #AACCFF;
    bottom: 0;
    height: 800px;
    position: fixed;
    width: 100%;
    z-index: 1;
}
#land {
    background: url("images/ground.png") repeat-x scroll left center transparent;
    bottom: 0;
    height: 70px;
    left: 0;
    position: fixed;
    width: 100%;
    z-index: 7;
}
#exhaust {
    background: url("images/exhaust.png") repeat scroll 0 0 transparent;
    bottom: -65px;
    height: 1920px;
    left: -30px;
    position: fixed;
    width: 300px;
    z-index: 2;
}
#mask {
    background: none repeat scroll 0 0 #AACCFF;
    bottom: 60px;
    height: 1920px;
    left: -30px;
    position: absolute;
    width: 300px;
    z-index: 3;
}
#shuttle {
    background: url("images/shuttle.png") repeat scroll 0 0 transparent;
    bottom: 40px;
    height: 150px;
    left: 45px;
    position: absolute;
    width: 120px;
    z-index: 6;
}
#vapour {
    background: url("images/vapour.png") repeat scroll 0 0 transparent;
    bottom: -398px;
    height: 500px;
    left: -43px;
    position: absolute;
    width: 300px;
    z-index: 5;
}
#cloud {
    background: url("images/cloud.png") no-repeat scroll left center transparent;
    bottom: 20px;
    height: 315px;
    position: fixed;
    right: 0;
    width: 978px;
    z-index: 4;
}
#sky-gradient {
    background: url("images/skygradient.png") repeat-x scroll center top transparent;
    height: 100%;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 3;
}
html {
    min-width: 1000px;
}
body {
    background: none repeat scroll 0 0 #AACCFF;
    color: #333333;
    font-family: Verdana,Arial,Sans-Serif;
    font-size: 62.5%;
    margin: 0;
    min-width: 1000px;
    text-align: center;
    z-index: 0;
}
#page {
    position: absolute;
    right: 0;
    text-align: left;
    width: 850px;
    z-index: 7;
}
.post {
    background: none repeat scroll 0 0 #EEEEFF;
    border: 1px solid #88AADD;
    margin-bottom: 20px;
    opacity: 0.6;
    padding: 10px;
}
.post p {
    letter-spacing: 0.003em;
    line-height: 20px;
}
#sidebar {
    margin-left: 620px;
    padding: 10px;
    position: fixed;
    top: 120px;
    width: 190px;
    z-index: 8;
}
#sidebar h2 {
    color: #336699;
    font-size: 1.3em;
}
#sidebar ul {
    list-style-type: none;
    margin: 0;
    padding-left: 5px;
}
#sidebar ul li ul li a {
    color: #114477;
    font-size: 1.2em;
}
#sidebar ul li ul li a:hover {
    color: #EE9966;
    font-size: 1.2em;
}
#header {
    background: none repeat scroll 0 0 transparent;
    z-index: 8;
}
#headerimg {
    background: url("images/headingbg2.png") repeat scroll 0 0 transparent;
    height: 60px;
    left: 50px;
    position: fixed;
    top: 0;
    width: 350px;
    z-index: 9;
}
#header .description {
    display: none;
}
#content {
    font-size: 1.2em;
    margin-bottom: 150px;
    position: relative;
    top: 80px;
    width: 600px;
    z-index: 7;
}
h1, h2, h3 {
    font-family: 'Gill Sans','Lucida Grande',Verdana,Arial,Sans-Serif;
    font-weight: normal;
    margin: 5px 5px 5px 0;
}
h1 {
    overflow: hidden;
    text-indent: -800px;
}
h2 {
    font-size: 3em;
}
h3 {
    font-size: 2em;
}
h2 a {
    color: #5588BB;
}
a {
    color: #0066CC;
    text-decoration: none;
}
a:hover {
    color: #EE9966;
    text-decoration: underline;
}
#searchform {
    bottom: -5px;
    display: none;
    left: 24px;
    margin: 10px auto;
    padding: 5px;
    position: fixed;
    text-align: center;
    z-index: 10;
}
#searchform #s {
    background: none repeat scroll 0 0 #66CC77;
    border: 0 solid #FFFFFF;
    color: #006611;
    font-size: 1.5em;
    padding: 5px;
    width: 152px;
}
#searchform #searchsubmit {
    padding: 1px;
    z-index: 10;
}
#searchform label {
    display: none;
}
#post-2 {
    font-size: 1.5em;
}
#post-2 ul li {
    position: relative;
}
#post-2 ul ul {
    display: none;
    padding: 10px;
}
#post-2 ul li:hover ul {
    background-color: #CCCCFF;
    border: 1px solid #88AADD;
    display: block;
    left: 45%;
    list-style-type: none;
    opacity: 0.9;
    position: absolute;
    top: 0;
    width: 50%;
}
